body{
    background-color: rgb(238, 238, 238);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.contenedorFacturas{
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.factura{
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 20px;
    width: 400px;
    text-align: center;
    
}

input{
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

option{
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

select{
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

button{
    width: 100%;    
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    cursor: pointer;
    background-color: #4CAF50;
    color: white;
    font-weight: 600;
}

.historial {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 20px;
    width: 400px;
    text-align: center;
}

.numeroFactura{
    color: #4CAF50;
    font-weight: 600;
}